@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #c7a17a;
  font-family: 'Handlee', cursive; }

/*Diseño del index*/
/*Barra de Busqueda de todo el sitio wed*/
.menu {
  font-family: 'Open Sans', sans-serif;
  list-style-type: none;
  text-align: center;
  background-color: #7a5c3c;
  position: sticky; 
}
.menu li {
  display: inline-block; 
}
.menu li a {
  position: relative;
  text-decoration: none;
  display: inline-block;
  margin: 0 35px;
  padding: 15px;
  color: #fff;
  font-size: 25px;
  transition: all 0.3s; 
}
.menu li a:hover{
  color: #dfdfdf;
}
.menu li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #dfdfdf;
  left: 0;
  bottom: 10px;
  transform: scale(0);
  transition: transform .4s ease; 
}
.menu li a:hover::after {
  transform: scale(1);
  transform-origin: left; 
}

.logo {
  text-align: center;
  margin: 10px; 
}
.logo img {
  border-radius: 50%;
  width: 80px;
  transition: width 0.8s ease; 
}
.logo img:hover {
  box-shadow: 0 0 10px;
  width: 88px; 
}

/*main del index*/
.card {
  background-color: #252424; 
}
.card-title {
  margin-top: 15px;
  text-align: center;
  font-size: 40px;
  font-family: "Stint Ultra Expanded", serif;
  color: #a38157; 
}
.card-text {
  font-size: 24px;
  line-height: 46px;
  letter-spacing: .6px;
  padding: 3rem;
  color: white;
  font-family: 'Open Sans', sans-serif; 
}

/*footer y diseño de redes*/
footer {
  background: #7a5c3c;
  margin-top: 20px;
  height: 200px;
  display: grid;
  place-content: center; 
}

.redes-container {
  width: 45vw;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between; 
}
.redes-container img {
  color: black;
  width: 50px;
  transition: width 0.8s ease; 
}
.redes-container img:hover {
  border-radius: 34px;
  box-shadow: 0 0 15px;
  width: 65px; 
}

/*Diseño de la pagina menu*/
h1 {
  text-align: center;
  font-size: 55px;
  margin: 12px;
  padding: 15px;
  font-family: "Stint Ultra Expanded", serif; }

/*nav-bar del menu*/
.menu__comida {
  font-family: 'Open Sans', sans-serif;
  margin: 25px;
  display: flex;
  justify-content: center;
  align-items: center; 
}
.menu__comida ul {
  list-style-type: none;
  width: 37vw;
  padding: 17px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 22px; 
}
.menu__comida ul a {
  position: relative;
  color: #fff;
  font-size: 27px;
  text-decoration: none;
  transition: all 0.5s ease; 
}
.menu__comida ul a:hover{
  color: #ebe9e9;
}

.menu__comida ul a::before {
  content: "";
  position: absolute;
  background: #ebe9e9;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: -10px;
  transform: scale(0);
  transition: transform .4s ease; 
}
.menu__comida ul a:hover::before{
  transform: scale(1);
  transform-origin: left;
}

.menu__comida ul a::after {
  content: "";
  position: absolute;
  background: #ebe9e9;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: -4px;
  transform: scale(0);
  transition: transform .4s ease; 
}
.menu__comida ul a:hover::after{
  transform: scale(1);
  transform-origin: right;
}

      

/*Cartas del menu*/
.card__container {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: stretch; 
  gap: 50px;
}
.second__cart{
  position: relative;
  width: 380px;
  height: 540px;
  margin-bottom: 25px;
}
.second__cart .face{
  position: absolute;
  background: #fff;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: .5s;
}
.second__cart .front{
  transform: perspective(600px) rotate(0deg);
  box-shadow: 0 5px 10px #000;
}
.second__cart .front img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.second__cart .front h3{
  position: absolute;
  bottom: -8px;
  width: 100%;
  height: 55px;
  line-height: 55px;
  text-align: center;
  background: rgb(0,0,0,0.4);
  color: #fff;
}
.second__cart .back{
  transform: perspective(600px) rotateY(180deg);
  background: #E6E8EC;
  padding: 15px;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow:  0 5px 10px #000;
}
.second__cart .back h3{
  font-size: 40px;
  letter-spacing: .5px;
  margin-top: 12px;
  padding: 10px;
}
.second__cart .back p{
  letter-spacing: .5px;
  font-size: 21px;
  padding: 0 20px;
}
.second__cart .back a{
  margin-bottom: 10px;
  padding: 10px;
  color: #000;
  font-size: 26px;
  border: solid 2px #000;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.4s ease;
}
.second__cart .back a:hover{
  border: solid #a38157;
  background-color: #a38157;
  color: white;
}
.second__cart:hover .front{
  transform: perspective(600px) rotateY(180deg);
}
.second__cart:hover .back{
  transform: perspective(600px) rotateY(360deg);
}


/*Diseño para la pagina de locales*/
.titulo-palermo {
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: center; 
}
.titulo-palermo iframe {
  border-radius: 12px; 
  box-shadow: 0 1px 10px #000;
}
.titulo-caballito {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center; 
}
.titulo-caballito iframe {
  border-radius: 12px;
  box-shadow: 0 1px 10px; 
}



/*Diseño para la pagina Nosotros*/
.nuestroCafe img {
  width: 100%; }

/*parrafos-nosotros*/
.container-parrafos {
  font-family: 'Open Sans', sans-serif;
  margin-top: 1rem;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 20vw 1fr 1fr 20vw;
  grid-template-rows: auto 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 15px;
  grid-template-areas: ". A B ."
 ". C D ."; }
  .container-parrafos p {
    font-size: 20px; }
  .container-parrafos .parrafo-1 {
    grid-area: A; }
  .container-parrafos .parrafo-2 {
    grid-area: B; }
  .container-parrafos .parrafo-3 {
    grid-area: C; }
  .container-parrafos .parrafo-4 {
    grid-area: D; }

/*Cards-nosotros*/
.nosotros__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  font-family: 'Open Sans', sans-serif; 
}
.nosotros__container .cards__nosotros {
  width: 360px;
  height: 565px;
  margin: 25px;
  background: white;
  border-radius: 7px;
  box-shadow: 0 1px 10px #5f4932;
  overflow: hidden;
  cursor: default;
  transition: all 0.4s ease; 
}
.nosotros__container .cards__nosotros figure img {
  width: 100%; 
}
.nosotros__container .cards__nosotros:hover {
  box-shadow: 5px 5px 20px #7a5b3b;
  transform: translateY(-5px); 
}
.nosotros__container .cards__nosotros .información {
  text-align: center;
  padding: 15px; 
}
.nosotros__container .cards__nosotros .información h3 {
  margin-bottom: 12px; 
  font-size: 30px;
  letter-spacing: .4px;
}
.nosotros__container .cards__nosotros .información p {
  margin-top: 5px;
  margin-bottom: 25px;
  font-size: 18px; 
  letter-spacing: .5px;
}
.nosotros__container .cards__nosotros .información a {
  text-decoration: none;
  padding: 11px;
  border: solid 1px #6a92a0;
  border-radius: 5px;
  color: #7397a3;
  font-size: 21px; 
}
.nosotros__container .cards__nosotros .información a:hover {
  background: #75a8b9;
  color: white; 
}
.nosotros__container .card-1 {
  justify-self: end; 
}
.nosotros__container .card-3 {
  justify-self: start; 
}



/*Diseño para la pagina de contacto*/
.containerPadre{
  width: 100%;
  display: flex;
  justify-content: center;
}
.containerForm {
  margin: 30px 0;
  padding: 20px 55px;
  position: relative;
  background:#E6E8EC;
  backdrop-filter: blur(20px);
  border-radius: 20px;
  box-shadow: 0 0 30px rgb(0, 0, 0, .5);
  width: 550px;
  height: 630px;
  border: solid 2px #000;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
}
.form__fondo{
  height: 100%;
  display: flex;
  flex-direction: column;
}
.form__fondo h2{
  font-size: 2.5rem;
  text-align: center;
  margin: 35px 0 20px 0;
}
.form__fondo .contenedor__input{
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #000;
  margin: 32px 0;
}
.form__fondo .contenedor__input input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 35px 0 5px;
}
.form__fondo .contenedor__input label{
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.3em;
  font-weight: 500;
  transition: all .4s ease;
  pointer-events: none;
}
.form__fondo .contenedor__input .form__icon{
  font-size: 1.4em;
  position: absolute;
  right: 0;
  bottom: 10px;
}
.form__fondo .contenedor__input input:focus~label,
.form__fondo .contenedor__input input:valid~label{
  top: -5px;
}  
.btn__enviar{
  margin-top: 25px;
  cursor: pointer;
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  font-size: 1.3em;
}
.btn__enviar:hover{
  box-shadow: 0 1px 10px #000;
}


/*Desing responsive*/
/*Desing Responsive Menu*/
@media screen and (max-width: 576px) {
  .cards, .nosotros__container .cards__nosotros {
    width: 80%; } }

@media screen and (min-width: 576px) and (max-width: 992px) {
  .cards, .nosotros__container .cards__nosotros {
    width: 40%; } }

/*Desing Responsive Nosotros*/
@media screen and (max-width: 576px) {
  .container-parrafos {
    margin: 10px;
    padding: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "A"
 "B"
 "C"
 "D"; }
  .nosotros__container {
    grid-template-columns: 1fr; }
    .nosotros__container .cards__nosotros {
      width: 80%; }
    .nosotros__container .card-1, .nosotros__container .card-3 {
      justify-self: center; } }

@media screen and (min-width: 576px) and (max-width: 992px) {
  .container-parrafos {
    margin-left: 10px;
    margin-right: 10px;
    padding: 25px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "A B"
 "C D"; }
  .nosotros__container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); }
    .nosotros__container .cards__nosotros {
      justify-self: center;
      width: 80%; } }
