@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #c7a17a;
  font-family: "Handlee", cursive;
}

/*Diseño del index*/
/*Barra de Busqueda de todo el sitio wed*/
.menu {
  list-style-type: none;
  text-align: center;
  background-color: #7a5c3c;
  position: sticky;
}
.menu li {
  display: inline-block;
}
.menu li a {
  text-decoration: none;
  display: inline-block;
  margin: 12px;
  padding: 13px;
  color: rgb(26, 25, 25);
  font-size: 22px;
  transition: all 0.3s;
}
.menu li a:hover {
  background-color: rgb(22, 21, 21);
  border-radius: 50%;
  box-shadow: 0 0 8px black;
  color: rgb(187, 128, 50);
}

.logo {
  text-align: center;
  margin: 10px;
}
.logo img {
  border-radius: 50%;
  width: 80px;
  transition: width 0.8s ease;
}
.logo img:hover {
  box-shadow: 0 0 10px;
  width: 88px;
}

/*main del index*/
.card {
  background-color: rgb(37, 36, 36);
}

.card-title {
  margin-top: 15px;
  text-align: center;
  font-size: 40px;
  font-family: "Stint Ultra Expanded", serif;
  color: rgb(163, 129, 87);
}

.card-text {
  font-size: 24px;
  line-height: 40px;
  padding: 3rem;
  color: white;
}

/*footer y diseño de redes*/
footer {
  background: #7a5c3c;
  margin-top: 20px;
  height: 200px;
  display: grid;
  place-content: center;
}

.redes-container {
  width: 45vw;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.redes-container img {
  color: black;
  width: 50px;
  transition: width 0.8s ease;
}
.redes-container img:hover {
  border-radius: 34px;
  box-shadow: 0 0 15px;
  width: 65px;
}

/*Diseño de la pagina menu*/
h1 {
  text-align: center;
  font-size: 55px;
  margin: 12px;
  padding: 15px;
  font-family: "Stint Ultra Expanded", serif;
}

/*nav-bar del menu*/
.menu__comida {
  margin: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__comida ul {
  list-style-type: none;
  width: 37vw;
  padding: 17px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}
.menu__comida ul a {
  background: #cfc0b1;
  border: solid 1px black;
  border-radius: 15%;
  box-shadow: 1px 2px 8px;
  padding: 13px;
  color: black;
  font-size: 21px;
  text-decoration: none;
  transition: all 0.5s ease;
}
.menu__comida ul a:hover {
  color: rgb(189, 252, 252);
  background: rgb(46, 46, 46);
}

/*Cartas del menu*/
.card__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: stretch;
}

.cards, .nosotros__container .cards__nosotros {
  width: 18vw;
  height: 515px;
  margin: 25px;
  background: white;
  border-radius: 7px;
  box-shadow: 0 1px 10px #5f4932;
  overflow: hidden;
  cursor: default;
  transition: all 0.4s ease;
}
.cards figure img, .nosotros__container .cards__nosotros figure img {
  width: 100%;
}
.cards .contenido, .nosotros__container .cards__nosotros .contenido {
  text-align: center;
  padding: 10px;
}
.cards .contenido h3, .nosotros__container .cards__nosotros .contenido h3 {
  font-weight: 350;
  margin-bottom: 15px;
}
.cards .contenido p, .nosotros__container .cards__nosotros .contenido p {
  line-height: 1.3;
  color: black;
  margin-bottom: 25px;
}
.cards .contenido a, .nosotros__container .cards__nosotros .contenido a {
  padding: 10px;
  color: #926d48;
  font-size: 20px;
  border: solid 1px #926d48;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.4s ease;
}
.cards .contenido a:hover, .nosotros__container .cards__nosotros .contenido a:hover {
  background-color: #c7a17a;
  color: white;
}
.cards:hover, .nosotros__container .cards__nosotros:hover {
  box-shadow: 5px 5px 20px #7a5b3b;
  transform: translateY(-5px);
}

/*Diseño para la pagina de locales*/
.titulo-palermo {
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: center;
}
.titulo-palermo iframe {
  border-radius: 12px;
}

.titulo-caballito {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}
.titulo-caballito iframe {
  border-radius: 12px;
}

/*Diseño para la pagina Nosotros*/
.nuestroCafe img {
  width: 100%;
}

/*parrafos-nosotros*/
.container-parrafos {
  margin-top: 1rem;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 20vw 1fr 1fr 20vw;
  grid-template-rows: auto 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 15px;
  grid-template-areas: ". A B ." ". C D .";
}
.container-parrafos p {
  font-size: 20px;
}
.container-parrafos .parrafo-1 {
  grid-area: A;
}
.container-parrafos .parrafo-2 {
  grid-area: B;
}
.container-parrafos .parrafo-3 {
  grid-area: C;
}
.container-parrafos .parrafo-4 {
  grid-area: D;
}

/*Cards-nosotros*/
.nosotros__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
.nosotros__container .cards__nosotros figure img {
  width: 100%;
}
.nosotros__container .cards__nosotros:hover {
  box-shadow: 5px 5px 20px #7a5b3b;
  transform: translateY(-5px);
}
.nosotros__container .cards__nosotros .información {
  text-align: center;
  padding: 15px;
}
.nosotros__container .cards__nosotros .información h3 {
  margin-bottom: 12px;
}
.nosotros__container .cards__nosotros .información p {
  margin-top: 5px;
  margin-bottom: 25px;
  font-size: 16px;
}
.nosotros__container .cards__nosotros .información a {
  text-decoration: none;
  padding: 12px;
  border: solid 1px rgb(106, 146, 160);
  border-radius: 5px;
  color: rgb(115, 151, 163);
  font-size: 18px;
}
.nosotros__container .cards__nosotros .información a:hover {
  background: rgb(117, 168, 185);
  color: white;
}
.nosotros__container .card-1 {
  justify-self: end;
}
.nosotros__container .card-3 {
  justify-self: start;
}

/*Diseño para la pagina de contacto*/
.containerForm {
  display: flex;
  min-height: 100vh;
}

.form {
  background-color: white;
  margin: auto;
  width: 90%;
  max-width: 400px;
  padding: 4.5em 3em;
  border-radius: 10px;
  box-shadow: 0 5px 10px -3px black;
  text-align: center;
}

.form__title {
  font-size: 2rem;
  margin-bottom: 0.5em;
}

.form__paragraph {
  font-weight: 300;
}

.form__container {
  margin-top: 3em;
  display: grid;
  gap: 2.5em;
}

.form__group {
  position: relative;
}

.form__input {
  width: 100%;
  font-size: 1rem;
  padding: 0.6em 0.3em;
  border: none;
  outline: none;
  border-bottom: 1px solid;
  font-family: Arial, Helvetica, sans-serif;
}

.form__label {
  color: rgb(19, 19, 19);
  position: absolute;
  top: 0;
  left: 5px;
  transform: translateY(-12px);
}

/*Desing responsive*/
/*Desing Responsive Menu*/
@media screen and (max-width: 576px) {
  .cards, .nosotros__container .cards__nosotros {
    width: 80%;
  }
}
@media screen and (min-width: 576px) and (max-width: 992px) {
  .cards, .nosotros__container .cards__nosotros {
    width: 40%;
  }
}
/*Desing Responsive Nosotros*/
@media screen and (max-width: 576px) {
  .container-parrafos {
    margin: 10px;
    padding: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "A" "B" "C" "D";
  }
  .nosotros__container {
    grid-template-columns: 1fr;
  }
  .nosotros__container .cards__nosotros {
    width: 80%;
  }
  .nosotros__container .card-1, .nosotros__container .card-3 {
    justify-self: center;
  }
}
@media screen and (min-width: 576px) and (max-width: 992px) {
  .container-parrafos {
    margin-left: 10px;
    margin-right: 10px;
    padding: 25px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "A B" "C D";
  }
  .nosotros__container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .nosotros__container .cards__nosotros {
    justify-self: center;
    width: 80%;
  }
}

/*# sourceMappingURL=estilo.css.map */
