*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    font-family: 'Handlee', cursive;
}
header{
    background-color: rgb(196, 163, 119);
}
h1{
    text-align: center;
    font-size: 50px;
    padding: 15px
}
.logo{
    text-align: center;
    margin: 10px;
}
.logo img{
    border-radius: 50%;
    width: 275px;
}
.menu{
    list-style-type: none;
    background-color: rgb(114, 72, 43);
    text-align: center;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 50px;
}
.menu li{
    display: inline-block;
}
.menu li a{
    text-decoration: none;
    display: inline-block;
    margin: 12px;
    padding: 13px;
    color: black;
    font-size: 22px;
}
.menu li a:hover{
    background-color: rgb(194, 167, 132);
    color: white;
    border-radius: 45%;
}
main{
    position: relative;
}
.section1{
    text-align: left;
    margin-top: 45px;
    margin-left: 80px;
    margin-bottom: 30px;
}
.section1 img{
    width: 600px;
    border-radius: 20px;
}
.parrafo1{
    margin: 15px;
    width: 50%;
    position: absolute;
    left: 42%;
    bottom: 58%;
}
.parrafo1 p{
    font-size: 22px;
    line-height: 1.6;
    color: black;
    padding: 8px
}
.section2{
    text-align: right;
    margin-top: 45px;
    margin-right: 80px;
    margin-bottom: 30px;
}
.section2 img{
    width: 600px;
    border-radius: 20px;
}
.parrafo2{
    margin: 15px;
    width: 50%;
    position: absolute;
    right: 42%;
    bottom: 2%;
}
.parrafo2 p{
    font-size: 22px;
    line-height: 1.6;
    color: black;
    padding: 8px;
}
footer{
    background-color: rgb(194, 160, 117);
    position: static;
}
h2{
    width: 500px;
    font-size: 40px;
    padding: 25px;
    position: relative;
    top: 125px;
    left: 85px;
}
.redes{  
    text-align: center;
}
.redes img{
    width: 200px;
    border-radius: 50%;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 80px;
    padding-left: 30px;
    padding-right: 30px;
}

/*Diseño para el menu*/

h3{
    font-size: 40PX;
    margin-top: 15px;
    margin-left: 15px;
    padding-top: 25px;
    padding-left: 32px;
}
.bebidas{
    text-align: center;
    margin: 20px;
}
.bebidas img{
    width: 400px;
    margin-left: 35px;
    margin-right: 35px;
    padding: 20px;
}
.comida{
    text-align: center;
    margin: 20px;
}
.comida img{
    width: 400px;
    margin-left: 35px;
    margin-right: 35px;
    padding: 20px;
}
.combos{
    text-align: center;
    margin: 20px;
}
.combos img{
    width: 400px;
    margin-left: 35px;
    margin-right: 35px;
    padding: 20px;
}

/*Diseño para locales*/
.palermo{
    position: relative;
    right: 16%;
    text-align: right;  
}
.map1{
    text-align: right;
    margin-right: 80px;
    margin-bottom: 30px;
    padding-bottom: 15px;
}
.map1 img{
    width: 600px;
    height: 560px;
    border-radius: 20px;
    border: solid 3px black;
}
.caballito{
    width: 80%;
    position: relative;
    text-align: left;
    left: 12%;
}
.map2{
    width: 90%;
    text-align: left;
    margin-bottom: 25px;
    position: relative;
    left: 68px;
}
.map2 img{
    width: 600px;
    height: 560px;
    border-radius: 20px;
    border: solid 3px black;
}

/*Diseño para Nosotros*/

.icon{
    width: 80%;
    margin-left: 20px;
    margin-top: 38px;
    position: relative;
    top: 20px;
    left: 10%;
}
.icon img{
    border-radius: 25px;
    width: 500px;
    height: 450px;
}
.historia{
    position: absolute;
    left: 58%;
    bottom: 95%;
}
.parrafoHistoria{
    margin: 12px;
    width: 670px;
    position: absolute;
    top: 6%;
    left: 50%;
}
.parrafoHistoria p{
    font-size: 20px;
    line-height: 1.5;
}
.producto{
    margin: 15px;
    padding-top: 15px;
    text-align: left;
}
.producto h3{
    width: 70%;
    position: relative;
    left: 13%;
}
.parrafoProducto{
    margin-top: 12px;
    margin-bottom: 70px;
    padding: 15px;
    border: solid 3px rgb(73, 21, 21);
    width: 600px;
    position: relative;
    top: 16px;
    left: 10%;
}
.parrafoProducto p{
    font-size: 21px;
    line-height: 1.5;
}
.botones{
    position: absolute;
    left: 66%;
    bottom: 32%;
}
.imagenP{
    position: absolute;
    top: 71%;
    left: 61%;
}
.imagenP img{
    width: 330px;
    height: 240px;
}

/*Diseño para Contacto*/

.formulario{
    width: 500px;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 35px;
    border: groove rgb(46, 45, 45) 8px;
    padding: 25px;
}
.formulario div{
    text-align: left;
    margin: 10px;
    padding: 5px;
    position: relative;
}
.formulario div label{
    font-size: 25px;
}
.formulario div input{
    height: 20px;
    position: relative;
    left: 20px;
}
