.titulo-palermo{
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
    iframe{
        border-radius: 12px;
    }
}
.titulo-caballito{
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    iframe{
        border-radius: 12px;
    }
}