h1{
    text-align: center;
    font-size: 55px;
    margin: 12px;
    padding: 15px;
    font-family: $font-titles;
}

/*nav-bar del menu*/

.menu__comida{
    font-family: 'Open Sans', sans-serif;
    margin: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    ul{
        list-style-type: none;
        width: 37vw;
        padding: 17px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 8px;
        a{
            position: relative;
            color: #fff;
            font-size: 24px;
            text-decoration: none;
            transition: all 0.5s ease;
            &::before{
                content: "";
                position: absolute;
                background: #c0baba;
                height: 2px;
                left: 0;
                bottom: 6px;
                transform: scale(1);
                transition:  transform .4s ease;
            }
            &::after{
                content: "";
                position: absolute;
                background: #c0baba;
                height: 2px;
                left: 0;
                bottom: 10px;
                transform: scale(1);
                transition:  transform .4s ease;
            }
        }
    }
}

/*Cartas del menu*/

.card__container{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: stretch;
}
.second__cart{
    position: relative;
    width: 300px;
    height: 350px;
    .face{
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 10px;
        overflow: hidden;
        transition: .5s;
    }
    .front{
        transform: perspective(600px) rotateY(0deg);
        box-shadow: 0 5px 10px #000;
        img{
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        h3{
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 45px;
            text-align: center;
            background: rgb(0,0,0,0.4);
            color: #fff;
            line-height: 45px;
        }
    }
    .back{
        transform: perspective(600px) rotateY(180deg);
        background: rgb(136, 137, 138);
        padding: 15px;
        color: #000;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        box-shadow:  0 5px 10px #000; 
        h3{
            font-size: 30px;
            margin-top: 20px;
            letter-spacing: 2px;
        }
        p{
            letter-spacing: .5px;
        }
        a{
            padding: 10px;
            color: #926d48;
            font-size: 20px;
            border: solid 1px #926d48;
            border-radius: 5px;
            text-decoration: none;
            transition: all 0.4s ease;
            &:hover{
                background: #926d48;
                border: solid #926d48;
                color: #000;
            }  
        }
    }
    &:hover .front{
        transform: perspective(600px) rotateY(180deg);
    }
    &:hover .back{
        transform: perspective(600px) rotateY(360deg);
    }
}



.cards{
    width: 18vw;
    height: 515px;
    margin: 25px;
    background: white;
    border-radius: 7px;
    box-shadow: 0 1px 10px #5f4932;
    overflow: hidden;
    cursor: default;
    transition: all 0.4s ease;
    figure{
        img{
            width: 100%;
        }
    }
    .contenido{
        text-align: center;
        padding: 10px;
        h3{
            font-weight: 350;
            margin-bottom: 15px;
        }
        p{
            line-height: 1.3;
            color: black;
            margin-bottom: 25px;
        }
        a{
            padding: 10px;
            color: #926d48;
            font-size: 20px;
            border: solid 1px #926d48;
            border-radius: 5px;
            text-decoration: none;
            transition: all 0.4s ease;
            &:hover{
                background-color: #c7a17a;
                color: white;
            }
        }
    }
    &:hover{
        box-shadow: 5px 5px 20px #7a5b3b;
        transform: translateY(-5px);
    }
}