/*Desing Responsive Menu*/

@media screen and (max-width:576px) {
    .cards{
        width: 80%;
    }
}
@media screen and (min-width:576px) and (max-width:992px){ 
    .cards{
        width: 40%;
    }
}

/*Desing Responsive Nosotros*/
@media screen and (max-width:576px) {
    .container-parrafos{
        margin: 10px;
        padding: 30px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,auto);
        grid-template-areas: 
        "A"
        "B"
        "C"
        "D";
    }
    .nosotros__container{
        grid-template-columns: 1fr;
        .cards__nosotros{
            width: 80%;
        }
        .card-1, .card-3{
            justify-self: center;
        }
    }
}
@media screen and (min-width:576px) and (max-width:992px){
    .container-parrafos{
        margin-left: 10px;
        margin-right: 10px;
        padding: 25px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2,auto);
        grid-template-areas: 
        "A B"
        "C D";
    }
    .nosotros__container{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        .cards__nosotros{
            justify-self: center;
            width: 80%;
        }
    }
}